@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    background-color: blanchedalmond;
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

header{
    margin-top: 100px;
    margin-bottom: 50px;
}

#avatar{
    border-radius: 100%;
}

#form{
    align-items:normal;
}

#content{
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: #000000;
}
